@font-face {
    font-family: "OpenSans";
    src: url("/OpenSans-Regular.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    color: darkgrey;
}

body {
    display: flex;
    flex-direction:row;
    font-family: "OpenSans";
    height: 1169px;
    width: 827px;
   
}

aside {
    display: flex;
    flex-direction: column; /*----flex-direction + flex-wrap----*/    
    justify-content: right;
    align-items: stretch;
    gap: 200px;
    
    width: 15%;
    padding: 60px ;
   
    background-color: #202225;
}

aside > img {

}

aside > section {
    display: flex;
    flex-direction: column;
    gap: 50px;

}

aside > section > h2 {  
    text-decoration: underline peru;
    -moz-text-decoration-style:double;
    text-decoration-style: double;
}
 


div {
    display: flex;
    flex-direction:column;
    justify-content:unset;
    align-items: center;
    gap: 70px;

    background-color: #2f3136ce;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    background-color: #32353b ;
    
}

header > h1 {
    text-decoration: underline peru;
    padding: 20px;
    margin: 20px;
    font-size: 2em;

}
 
header > p {
    padding: 20px;
    margin: 20px;
    font-size: 1.2em;
    
 }

 main {
    background-color: #32353bad;
    
}

main > h2 {
    text-decoration: underline peru;
    padding: 20px;
    margin: 20px;
 
}

main > ul {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 20px;
    list-style: none;
    font-size: 1.2em;
    padding: 30px;
    margin: 20px;

}





